:root {
    --pulsantino: black;
    --sfondo: aqua;
}


body {
    background-color: var(--sfondo);
}


button.pulsantino {
    background-color: var(--pulsantino);
    border-radius: 5px;
    font-size: xx-large;
    width: 30px; /* Tutti larghi uguali */
}
button.pulsantino:hover {
    background-color: gray;
    transform: scale(1.1);
}
