:root {
    --pulsantino: black;
    --sfondo: aqua;
}


body {
    background-color: var(--sfondo);
}


button.pulsantino {
    background-color: var(--pulsantino);
    border-radius: 5px;
    font-size: xx-large;
    /* Tutti larghi e alti uguali */
    width: 50px;
    height: 50px;
}
button.pulsantino:hover {
    background-color: gray;
}


div.pulsantone {
    background-color: var(--pulsantino);
    border-radius: 20px;
    height: max-content;
    opacity: 0;
    padding: 1%;
    width: 100%;
}
div.pulsantone:hover {
    background-color: gray;
}


div.contenitore {
    background-color: gainsboro;
    /*  */
    border: 5px gray double;
    border-radius: 20px;
    /*  */
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17%;
    /*  */
    padding: 2%;
    /* */
    width: max-content;
}


div.grosso {
    background-color: aquamarine;
    border: 5px gray double;
    border-radius: 20px;
    height: 95vh;
}